{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class = "container mt-2">
    <div class="row">

        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light">
                    
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary btn-sm" href="{% url 'add-expense' %}"> <i class="fa-solid fa-circle-plus"></i> Add Expanse</a>
        </div>
    </div>

    {% include 'partials/_messages.html' %}

    <div class="row d-flex" style="justify-content: space-between; align-items: center;">
        <div class="col-md-8 " > <h4  class="pt-3" >Your Expenses </h4> </div>
        <div class="col-md-4">
            <div class="form-group">'
                <input type="text" class="form-control my-0 " placeholder="Search" id="searchField" name="searchText">
            </div>
        </div>
    </div>
    
    <hr>


    <div class="container" style="overflow-x:scroll;">
        <div class="app-table">
            {% if expenses.count %}
            <table class="table table-striped table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">Amount ({{currency}})</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date</th>
                        <th scope="col" class = "float-right d-flex" style = "justify-content: center;">Action</th>
                        </tr>
                    </thead>
                <tbody>
                    {% for expense in page_obj %}
                    <tr>
                        <td>{{expense.amount}}</td>
                        <td>{{expense.category}}</td>
                        <td>{{expense.description}}</td>
                        <td>{{expense.date}}</td>
                        <td>
                            <div class = "float-right d-flex" style = "justify-content: center;" >
                                <a href = "{% url 'edit-expense' expense.id %}" class = 'btn btn-secondary btn-sm mx-2' >Edit</a>
                                <a href = "{% url 'delete-expense' expense.id %}" class = 'btn btn-danger btn-sm' >Delete</a>
                            </div>
                        </td>
                        
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
    
        </div>
                
        <div class="search-results">
            <table class="table table-striped table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">Amount (Currency)</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date</th>
                        <th scope="col" class = "float-right d-flex" style = "justify-content: center;">Action</th>
                        </tr>
                    </thead>
                <tbody class="search-results-body">
                
                </tbody>
            </table>
            

        </div>


        <div class = "pagination-container" style = "justify-content:space-between;" id = "pagination" >
            <div>
                Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

            </div>

            <div >
                <nav aria-label="Page navigation example">
                        {% if page_obj.has_previous %}
                          <a class="btn btn-outline-info btn-sm" href="?page=1">First</a>
                          <a class="btn btn-outline-info btn-sm" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}
                  
                        {% for num in page_obj.paginator.page_range %}
                          {% if page_obj.number == num %}
                            <a class="btn btn-info btn-sm" href="?page={{ num }}">{{ num }}</a>
                          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a class="btn btn-outline-info btn-sm" href="?page={{ num }}">{{ num }}</a>
                          {% endif %}
                        {% endfor %}
                  
                        {% if page_obj.has_next %}
                          <a class="btn btn-outline-info btn-sm" href="?page={{ page_obj.next_page_number }}">Next</a>
                          <a class="btn btn-outline-info btn-sm" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                        {% endif %}
                  </nav>
            </div>
        </div>

        {% else %}
        <div class = 'd-flex justify-content-center align-items-center' style = "height:10vh;"> 
            <div class = "text-center"> 
                <h3>You Don't have Expenses </h3>
                <h6> Click <strong> <a href = "{% url 'add-expense' %}" style = "font-size:1rem;" > <i class="fa-solid fa-circle-plus"></i> Add Expense</a></strong> to add new</h6>
                
            </div>
        </div>

        {% endif %}
    </div>
    <div class="row home-graph">
        <h5 class="mt-2">Summary</h5>
        <hr  class="mt-0">
        <div class="col-md-5">
            <h5 class="text-center">Total Spent : <span class="totalAmt"></span></h5>
            <canvas visible id="myChart" width="100" height="100"></canvas>
        </div>
    
    <div class="col-md-1">
        
    </div>
    <div class="col-md-5">
            <h5 class="text-center">Recent Spents</h5>
            <canvas visible id="myChart2" width="400" height="400"></canvas>
    </div>
    </div>
</div>  

<input type="hidden" id="myVar" name="variable" value="{{ currency }}" hidden>
{{ currency|json_script:"myVar" }}




<script>


var endpoint = 'list_expenses/'

let link = function() {
  document.location.href = endpoint
}
var defaultData = [];


function fetchData() {
  // console.log("Clicked Fetch Data Button");
  const xhr = new XMLHttpRequest();

  //open the object
  xhr.open('GET',endpoint,true);


  //optional
  xhr.onprogress = function() {
      // console.log("On Progress");
  }

  xhr.onload = function(){
      if(this.status == 200){
          data = JSON.parse(this.responseText);
          // console.log(data);
          
          makechart(data)
      }
      else {
          console.error("Couldn't fetch the data.");
      }
  }

  xhr.send();  // no parameter needed. 

  // console.log("data fetched.");
}

fetchData();


// data.labels.forEach(element => {
  //   console.log(element);
  // });
  function makechart(datanew) {
    // console.log(datanew);
    amount = []
    category = []
    dates = []
  
    for( i=0;i<Object.keys(datanew.data).length;i++) {
      amt = datanew.data[i].amount
      cat = datanew.data[i].category
      date = datanew.data[i].date
      amount.push(amt)
      category.push(cat)
      dates.push(date)
    }


    const counts = {};
    let cnt =0 
    category.forEach((x) => {
      counts[x] = (counts[x] || 0) + amount[cnt];
      cnt+=1;
    });

    // console.log(counts)
    keyLst = []
    valLst = []

    for([key,val] of Object.entries(counts)) {
      keyLst.push(key)
      valLst.push(val)
    }


    //total amount
    let tamt = 0
    for(let x =0 ;x<amount.length;x++) {
      tamt+=amount[x];
    }

    document.getElementsByClassName("totalAmt")[0].innerHTML = `${tamt}`;
   
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: keyLst,
        datasets: [{
            label: '# of Votes',
            data: valLst,
            backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});



const ctx2 = document.getElementById('myChart2').getContext('2d');
const myChart2 = new Chart(ctx2, {
  type: 'line',
  data: {
        labels:dates ,
        // labels:[1,2,3,4,5,6] ,
        datasets: [{
          label: 'Spent',
          data: amount,
          fill:false,
          tension:.1,
            backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(160, 180, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(230, 159, 190, 0.8)'
              ],
              borderColor: [
                'rgb(77, 119, 255 ,1)',
                'rgba(54, 162, 235, 1)',
                'rgb(77 , 119 , 200, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 2
            }]
          },
          options: {
            scales: {
            y: {
                beginAtZero: true
              }
            }
          }
        });
        
        
  }

</script>

<script>
    const searchField = document.getElementById("searchField");
const appTable = document.getElementsByClassName("app-table")[0];
const paginationConainer = document.getElementsByClassName("pagination-container")[0];
const searchResults = document.getElementsByClassName("search-results")[0];
const home_graph = document.getElementsByClassName("home-graph")[0];

searchResults.style.display = "none";
appTable.style.display = "block";
paginationConainer.style.display = "flex";
home_graph.style.visibility = "visble";

searchField.addEventListener('keyup', (e)=> {
    appTable.style.display = "none";
    paginationConainer.style.display = "none";
    home_graph.style.visibility = "hidden";
    const searchVal = e.target.value;
    
    if(searchVal.trim().length>0) {
        // console.log(searchVal);
        results = '';
        fetch("/search-expense/", {
            body:JSON.stringify({searchText:searchVal}),
            method :"POST",
        }).then((res) =>res.json()).then((data)=> {

            // console.log("data",data);
            if(data.length === 0) {
                searchResults.style.display = "block";
                searchResults.innerHTML = "No results found"
            }
            else {
                searchResults.style.display = "block";
                

                
                data.forEach(item => {
                    const itemsID = item.id;
                    editExp = "edit-expense/attr/".replace('attr',itemsID);
                    deleteExp = "delete-expense/attr/".replace('attr',itemsID);
                    
                    let link =  function() {
                        document.location.href = deleteExp;
                        document.location.href = deleteExp;
                    }

                    
                    results += 
                           ` 
                                <tr>
                                        <td>${item.amount}</td>
                                        <td>${item.category}</td>
                                        <td>${item.description}</td>
                                        <td>${item.date}</td>
                                        <td>
                                        <div class = "float-right d-flex" style = "justify-content: center;" >
                                                <a href = "${editExp}" class = 'btn btn-secondary btn-sm mx-2' >Edit</a>
                                                <a href = "${deleteExp}" class = 'btn btn-danger btn-sm' >Delete</a>
                                            </div>
                                            </td>
                                            </tr>`;

                        });

                        let tbody =  ` 
                        <i> Showning results for <strong> </i>" ${searchVal} </strong>" . . .
                        <table class="table table-striped table-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class = "float-right d-flex" style = "justify-content: center;">Action</th>
                                    </tr>
                                </thead>
                            <tbody class="search-results-body">
                                ${results}
                            </tbody>
                        </table>`

                    searchResults.innerHTML = tbody;
                 }
        });
    }
    else {
        appTable.style.display = "block";
        paginationConainer.style.display = "flex";
        searchResults.style.display = "none";
        home_graph.style.visibility = "visible";
    }
});

</script>



{% endblock content %}