{% extends 'base_auth.html' %}
{% block content %}

<div class="card w-50 mx-auto" style="min-width: 20rem;">
    <div class="card-body">
        <h2> Login Here </h2>
        {% include 'partials/_messages.html' %}
        <form class="" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">

                <input type="text" name="username" id="usernameField" class="form-control my-3"
                    placeholder="Username" />
            </div>
            <div class="form-group">
                <input type="password" name="password" id="passwordField" class="form-control my-3"
                    placeholder="Password" value="" />
            </div>
            <input type="submit" name="" id="" class="btn btn-primary register form-control my-3" placeholder=""
                value="Login">
        </form>
        New User? <a href={% url 'register' %}> Register Now</a>
    </div>
</div>


{% endblock content %}